

body{
    padding-top: 40px;
    background-color: white-space;
    
}
h1 {
    font-family: "Quicksand", sans-serif; 
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.col {
    flex: 0 0 calc(33.33% - 30px);
    margin: 5px;
}

header {
    background-color: white;
    flex-grow: .5;
}

footer {
    background-color: white;
    flex-grow: .5;
    text-align: center;
}


nav {
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-align: right;
    display: inline;
    text-align: right;
}
a {
    font-family: "helvetica"; 
    color: black;
    text-decoration: none;
}

a:hover {
    border-bottom: gray;
}
